body{
    font-family: cursive;
}
.site-heading-lower{
    font-family: cursive;
}
.mb-3{
    font-family: cursive;
    color: rgb(246, 252, 246) !important;
}
.notyellow{
    color: black !important;
}
.intro-text{
    box-shadow: 15px 15px 20px rgba(0, 0, 0,0.5);
}